body {background-color: black;font-family:Arial;color:white;}
h1{color:grey;font-family:Verdana;}

.maindiv{
    margin: auto;
    background-color: white;color: black;width: 30%; padding-left: 12%;
    border-radius: 25px;
     
}
label{
    display: inline-block;
   
    clear: left;
    width: 100px;
    text-align: left;
}
input {
  display: inline-block;
  
}


