body {background-color: black;font-family:Arial;color:white;}
h1{color:grey;font-family:Verdana;}

.maindiv{
    margin: auto;
    background-color: white;color: black;width: 30%; padding-left: 12%;
    border-radius: 25px;
     
}
div footer,h1{
    padding-left: 0%;
}



